<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mydownload</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>调动 chrome 文件下载</h1>
    <form action="" enctype='multipart/form-data' method='POST'>


        <div class="container">
         {% for rule in all_rule %}
        <div class="col-md-6" >
                <input type="radio" name="ruleinfo" value="{{ rule[0] }}">{{ rule[1] }} <br>



        </div>
        {% endfor %}

    </div>
    <div class="col-md-6" >
        <input type="file" name="file">
    </div>
    <div class="col-md-6" >
        <input type="submit" value="开始检查">
     </div>
    </form>
</body>
</html>